body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  max-width: 300px;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.board {
  margin-bottom: 20px;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  background-color: #eee;
  border: 2px solid #333;
  margin: 3px;
  cursor: pointer;
}

.square:hover {
  background-color: #ddd;
}

.game-info {
  font-size: 18px;
  margin: 15px 0;
  color: #555;
}

.reset-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.authent-btn {
  font-size: 16px;
  background-color: red
}

.authent-btn:hover {
  background-color: green;
}

.reset-btn:hover {
  background-color: #45a049;
}

.save-message {
  margin-top: 15px;
  padding: 8px;
  background-color: #e7f3fe;
  color: #0066cc;
  border-radius: 5px;
  font-weight: bold;
}